<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<includeMdcKeyName>requestId</includeMdcKeyName>
			<customFields>{"service":"SpringHibernateExample"}</customFields>
		</encoder>
	</appender>

	<logger name="com.websystique.springmvc" level="INFO"/>
	<logger name="org.hibernate" level="WARN"/>
	<logger name="org.springframework" level="WARN"/>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>
